<table>
  <tr>
    <td colspan="<%=@places.size%>" style="border:2">Cities</td>
  </tr>








</table>

<%@places.each do |place|%>

<%end%>

<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "table.html" %>
